:root {
  --first-yellow-color: #ffc107;
  --second-yellow-color: #ff9800;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: Verdana,sans-serif;
  line-height: 1.5;
}

h2 {
  font-size: 2rem;
  font-family: "Segoe UI",Arial,sans-serif;
  margin: 10px 0;
}

p {
  font-size: 1rem;
  margin: 15px 0;
}

.pageHeader {
  /* height: 702px; */
  /* background-image: url(https://www.w3schools.com/w3images/beach3.jpg); */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  /* background-size: cover; */
  position: relative;
}

h1 {
  font-size: 0;
}

.pageHeader > div {
  padding: 0 16px;
  width: 70%;
  position: absolute;
  left: 0;
  bottom: 10%;
  background-color: var(--first-yellow-color);
  opacity: 0.7;
}

.pageHeader > div:hover {
  background-color: var(--second-yellow-color);
}

.pageHeader h2 {
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;
}

main > div {
  display: flex;
  padding: 0 16px;
  margin: 50px 0;
}

main > div > div {
  width: 50%;
  padding: 0 16px;
}

main > div:first-child > div > div {
  border-top: 6px solid var(--first-yellow-color);
}

main > div:last-child > div > div {
  border-top: 6px solid var(--second-yellow-color);
}

img {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .pageHeader > div {
    font-size: 0;
  }

  main > div {
    flex-direction: column;
    margin: 0;
  }

  main > div > div {
    width: 100%;
  }
}


  

